.header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding: 75px 240px;
  margin: auto;
  overflow: hidden;
}

.header .container {
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  width: 100%;
}

.section__header {
  border-bottom: 3px solid var(--color-red);
  padding-bottom: 25px;
}

.section_dark, .section_dark .container, .header, .footer {
  background-color: var(--color-dark);
}

.section_welcome {
  height: calc(100vh - 150px);
}

.section_welcome .container {
  padding-top: 0;
  padding-bottom: 0;
}

.section_visiting .section-title, .section_video .section-title, .section_tickets .section-title {
  color: var(--color-gold);
  padding-top: 25px;
}

.section_explorer .container {
  display: flex;
  justify-content: space-between;
}

.section_explorer .section__header, .section_video .section__header, .section_tickets .section__header {
  margin-bottom: 75px;
}

.section_explorer p {
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--color-light);
}

.section_explorer p+p {
  margin-top: 25px;
}

.section_explorer img {
  margin-left: 60px;
}

.footer .container {
  background-color: var(--color-dark);
  padding-top: 0;
  padding-bottom: 0;
}

.footer__data {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 50px;
}

.footer__data-left, .footer__data-right {
  display: flex;
}

.footer__copy {
  padding: 50px 0;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.footer__copy::before {
  content: '';
  position: absolute;
  height: 3px;
  width: calc(100% + 480px);
  top: 0;
  left: -240px;
  background-color: var(--color-gray);
}

.footer__col {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  color: white;
}

.footer__col:nth-child(2) {
  justify-content: center;
}

.footer__col:last-child {
  justify-content: flex-end;
}